/*
.idea
!/plugins/
!/.github/
!/.github/**
!/.phpcs/
!/.phpcs/**
/plugins/*
!/plugins/system/
/plugins/system/*
!/plugins/system/bpprettify/
!/plugins/system/bpprettify/*
!/.dev/
/media/
/media/*

!/LICENSE
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/build.properties.dist
build.properties
!/package.json
!/package-lock.json
!/postcss.config.js
!/webpack.config.js
!/.gitignore