/*
.idea
!/plugins/
!/.github/
!/.github/**
!/.phpcs/
!/.phpcs/**
/plugins/*
!/plugins/system/
/plugins/system/*
!/plugins/system/bpprettify/
!/plugins/system/bpprettify/*

!/LICENSE
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/build.properties.dist
./build.properties
!/.gitignore